* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(184deg, rgba(84, 152, 255, 0.79), rgba(121, 84, 255, 0.96));
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /*background-color: cornflowerblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background-color: #8754ff;
    border: 2px solid #4923a7;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #8754ff;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 2s;
}

.home-content .start-btn:hover {
    background-color: black;
    box-shadow: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/*.quiz-section {*/
/*    position: relative;*/
/*    left: -50%;*/
/*    width: 100%;*/
/*    background: cornflowerblue;*/
/*    transition: .8s ease-in-out;*/
/*    transition-delay: .25s;*/
/*    z-index: 100;*/
/*}*/

/*.quiz-section-active {*/
/*    left: 0;*/
/*}*/

.display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

.question-modal {
    z-index: 1;
    background-color: lightpink;
    width: 45%;
    height: 55%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.question-modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.question-modal-header {
    display: flex;
    align-self: center;
    margin: 20px;
}

.question-answer-container {
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
    font-size: 24px;
    font-weight: 600;
}

.question-container {
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.question {
    margin-bottom: 1.25em;
    font-weight: 600;
    font-style: italic;
}

#option-container, .result-container, .result-gold, .result-silver, .result-bronze {
    display: flex;
    font-size: 0.9em;
    width: 90%;
    padding: 1em;
    margin: 0.3em 0;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#option-container {
    display: flex;
    justify-content: center;
}

.create-quiz-input {
    width: 30em;
    max-width: 90%;
    margin: 0 auto;
}

.input-label {
    margin-bottom: 5px;
    display: block;
}

.form-input-container {
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
    justify-self: center;
    width: 300px;
    margin-bottom: 10px;
}

.result-container, .result-gold, .result-silver, .result-bronze {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.result-gold {
    min-height: 90px;
    color: gold;
}

.result-silver {
    min-height: 80px;
    color: silver;
}

.result-bronze {
    min-height: 70px;
    color: #CD7F32;
}

.result-answer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    flex-wrap: wrap;
}

.text {
    margin: 5px;
    font-size: 17px;
}

.text-count {
    font-size: 20px;
}

#option-container:hover, #option-gold:hover, #option-silver:hover, #option-bronze:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    background-color: rgba(246, 231, 14, 0.29);
}

#option-container.selected-answer {
    background: rgba(253, 241, 7, 0.83);
    border: 1px solid rgba(184, 190, 10, 0.75);
}

#option-container:disabled {
    color: #000000;
    cursor: not-allowed;
}

.award-icon {
    align-self: center;
}

.next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #8754ff;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    text-decoration: none;
    float: right;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: 0.3s;
}

.next-button:hover {
    opacity: 1;
}

.result-button {
    border-radius: 0.3rem;
    background-color: #8754ff;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 16px;
    width: 120px;
    text-decoration: none;
    opacity: 0.8;
    float: right;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.result-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.result-button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.result-button:hover{
    padding-right: 24px;
    padding-left: 8px;
    opacity: 1;
}

.result-button:hover:after {
    opacity: 1;
    right: 10px;
}

.hide {
    display: none;
}

.score-answers {
    margin-bottom: 10px
}

.answers-list {
    margin-left: 20px;
    font-size: 15px;
}

.correct-answer {
    margin-left: 10px;
    color: #85d72c;
}

.wrong-answer {
    margin-left: 10px;
    color: red;
}